<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base :: pageHead">
</head>
<body>
<div class="container-fluid">
    <div th:replace="base :: header"></div>
    <div class="row">
        <div th:replace="base :: leftCol"></div>
        <div class="col-md-8 categories">
            <h2>Witamy w serwisie</h2>
            <!--<div class="loader box" id="catLoader"></div>-->

            <!-- <p id="noItems" class="bg-danger has-error noResults">
                 <br/>Brak ogłoszeń w kategorii<br/><br/>
             </p>-->
        </div>
    </div>
</div>
</body>
</html>