<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="baseNoCategories :: pageHead">
</head>
<body>

<script type="application/javascript" th:inline="javascript"></script>
<script src="js/addMessage.js"></script>
<div class="container-fluid">
    <div th:replace="baseNoCategories :: header"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h2>Edytuj uprawnienia dla:</h2>
                    <span th:text="${message.text}"></span>
                </div>
            </div>
            <a th:if="${!remainingUsers.empty}">
            <form id="manageForm" method="post" class="form-horizontal" th:action="@{/manage}">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Wybierz użytkownika</label>
                    <div class="col-sm-10">
                        <select  name="newPermission" id="newPermission" class="form-control ">
                            <option th:each="person : ${remainingUsers}" th:value="${person.id}" th:text="${person.username}">
                            </option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${id}"/>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success addPermission" name="addPermission">Dodaj uprawnienie do edycji</button>
                    </div>
                </div>
            </form>
            </a>
            <a th:if="${!message.allowedUsers.empty}">
            <form id="deleteForm" method="post" class="form-horizontal" th:action="@{/delete}">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Wybierz użytkownika</label>
                    <div class="col-sm-10">
                        <select  name="deletePermission" id="deletePermission" class="form-control ">
                            <option th:each="person : ${message.allowedUsers}" th:value="${person}" th:text="${person}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger addPermission" name="deletePermission">Usuń uprawnienie do edycji</button>
                    </div>
                </div>

                <input type="hidden" name="id" th:value="${id}"/>
            </form>
            </a>
        </div>
    </div>
</div>
</body>
</html>