<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="baseNoCategories :: pageHead">
</head>
<body>
<div class="container-fluid">
    <div th:replace="baseNoCategories :: header"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Rejestracja</h1>
            <form id="registerForm" method="post" class="form-horizontal" th:action="@{/register}" th:object="${user}">
                <div class="row">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 control-label">Login</label>
                        <div class="col-sm-10" th:classappend="${!#lists.isEmpty(#fields.errors('username'))} ? 'has-error' : ''">
                            <input class="form-control" name="username" id="username" type="text" placeholder="username"
                                   th:field="*{username}"/>
                            <label class="control-label" for="username" th:each="error: ${#fields.errors('username')}"
                               th:text="${error}">Validation error</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 control-label">Hasło</label>
                        <div class="col-sm-10" th:classappend="${!#lists.isEmpty(#fields.errors('password'))} ? 'has-error' : ''">
                            <input class="form-control" type="password" name="password" id="password" placeholder="password"
                                   th:field="*{password}"/>
                            <label class="control-label" for="password" th:each="error: ${#fields.errors('password')}"
                               th:text="${error}">Validation error</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordRepeat" class="col-sm-2 control-label">Powtórz hasło</label>
                        <div class="col-sm-10" th:classappend="${!#lists.isEmpty(#fields.errors('passwordRepeat'))} ? 'has-error' : ''">
                            <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat"
                                   placeholder="repeat password"
                                   th:field="*{passwordRepeat}"/>
                            <label class="control-label" for="passwordRepeat" th:each="error: ${#fields.errors('passwordRepeat')}"
                               th:text="${error}">Validation error</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Rejestruj</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script type="application/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#registerForm").validate({
            debug: true,
            errorClass: "has-error",
            validClass: "has-success",
            errorElement: "span",
            rules: {
                username: {
                    required: true,
                    minlength: 5,
                    maxlength: 32
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 32
                },
                passwordRepeat: {
                    minlength: 6,
                    maxlength: 32,
                    equalTo : "#password"
                },
            },
            messages: {
                username: {
                    required: "To pole jest wymagane",
                    minlength: "Nazwa użytkownika powinna mieć od 5 do 32 znaków",
                    maxlength: "Nazwa użytkownika powinna mieć od 5 do 32 znaków"
                },
                password: {
                    required: "To pole jest wymagane",
                    minlength: "Hasło powinno mieć od 8 do 16 znaków",
                    maxlength: "Hasło powinno mieć od 8 do 16 znaków"
                },
                passwordRepeat: {
                    minlength: "Hasło powinno mieć od 8 do 16 znaków",
                    maxlength: "Hasło powinno mieć od 8 do 16 znaków",
                    equalTo: "Hasła muszą pasować"
                },
            },
            errorPlacement: function (error, element) {
                //$(element).parent('div').addClass('has-error');
            },
            highlight: function (element, errorClass, validClass) {
                console.log("highlight");
                $(element).parent('div').addClass(errorClass);
                $(element).parent('div').removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                console.log("ungighlight");
                $(element).parent('div').addClass(validClass);
                $(element).parent('div').removeClass(errorClass);
                $(element).nextAll("label").remove();
            },
            showErrors: function (errorMap, errorList) {
                console.log(errorMap);
                for (var key in errorMap) {
                    if (errorMap.hasOwnProperty(key)) {
                        var $field = $("#registerForm [name=" + key + "]");
                        if ($field) {
                            $field.nextAll("label").remove();
                            var $errorLabel = $("<label></label>");
                            $errorLabel.attr("for", key);
                            $errorLabel.addClass("control-label");
                            $errorLabel.text(errorMap[key]);
                            $field.after($errorLabel);
                        }
                    }
                }
                this.defaultShowErrors();
            },
            submitHandler: function (form) {
                if ($(form).valid())
                    form.submit();
                return false; // prevent normal form posting
            }
        });
    });
</script>
</body>
</html>